
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#edit{
  color: green
}
#trash{
  color: red;
}
#view{
  color: cornflowerblue;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* .active a{
  background-color:#cd0c62;
  color: #fff;
  border-radius: 10px;
} */
#sidebar{
position: fixed;
}
@media screen and (max-device-width: 425px){
  .head-section{
    margin-top: 20%;
  }
}
@media screen and (max-device-width: 320px){
  .head-section{
    margin-top: 40%;
  }
}
